*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/.idea/dictionaries/
/app/src/main/res/raw/
/app/src/main/res/values/text.xml
.idea/assetWizardSettings.xml
.idea/caches/
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/shelf/
app/app-prod-release.apk
app/prod/
app/sampledata/
app/src/main/res/drawable-xxhdpi/tiffany.png
captures/
